[submodule "3rd-party/capnproto"]
	path = 3rd-party/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "rust-util/work_table/ofiles"]
	path = 3rd-party/ofiles
	url = https://github.com/gradesta/ofiles.git
[submodule "3rd-party/sysinfo"]
	path = 3rd-party/sysinfo
	url = git@github.com:GuillaumeGomez/sysinfo.git
[submodule "gradesta-s.r.o.-commercial-stuff/web/themes/portio"]
	path = gradesta-s.r.o.-commercial-stuff/web/themes/portio
	url = git@github.com:gradesta/website-theme-portio-hugo.git
