[submodule "3rd-party/capnproto"]
	path = 3rd-party/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "rust-util/work_table/ofiles"]
	path = rust-util/work_table/ofiles
	url = https://github.com/jabedude/ofiles.git
