<div class="chart-container" style="width:70vw;">
    <span style="text-align: center"> Estimated time remaining </span>
    <canvas id={{.Get 0}}></canvas>
</div>


<script src="https://assets.gradesta.com/gradesta/js/chart.js"></script>
<script src="https://assets.gradesta.com/gradesta/js/hammerjs.2.0.8.js"></script>
<script src="https://assets.gradesta.com/gradesta/js/chartjs-plugin-zoom.min.js"></script>

<script>
 const ctx = document.getElementById({{.Get 0}});

 let tasks = JSON.parse({{ .Inner | safeHTML}});

 let dates = []
 {
     let day = Date.parse(earliest_relevant_date.split(" ")[0]);
     let latest_day = Date.parse(latest_relevant_date.split(" ")[0])
     while (day <= latest_day) {
         dates.push(day+1000*60*60*24);
         day += 1000*60*60*24;
     }
 }

 days = {}

 for (date of dates) {
      ff
 }
 /*

    days = { date : (min_time, max_time) }
    for task in tasks {
        for day in days {
            if task.created >= day {
                 if task.completed <= day {
                     days[day] = (days[day][0].min_estimate + task.min_estimate, days[day][1].max_estimate + task.max_estimate);
                 }
            }
        }
    }

    let min_time_dataset = [];
    let max_time_dataset = [];

    for date in dates {
       min_time_dataset.push(min_time);
       max_time_dataset.push(max_time);
    }

    labels = dates.map(day => str(day));
 */


 new Chart(ctx, {
     type: 'bar',
     labels: labels,
     data: data,
     options: {
         scales: scales,
         plugins: {
             zoom: {
                 pan: {
                     enabled: true,
                     threshold: 14,
                     mode: "x",
                 }
     }}}
 });
</script>
