<div class="chart-container" style="width:70vw;">
    <span style="text-align: center"> Estimated time remaining </span>
    <canvas id="{{.Get 0}}-remaining"></canvas>
</div>

<div class="chart-container" style="width:70vw;">
    <span style="text-align: center"> Time invested vs estimates </span>
    <canvas id="{{.Get 0}}-invested"></canvas>
</div>


<script src="https://assets.gradesta.com/gradesta/js/chart.js"></script>
<script src="https://assets.gradesta.com/gradesta/js/hammerjs.2.0.8.js"></script>
<script src="https://assets.gradesta.com/gradesta/js/chartjs-plugin-zoom.min.js"></script>

<script>

 let tasks = JSON.parse({{ .Inner | safeHTML}});

 kcfGraph.estimated_time_remaining("{{.Get 0}}-remaining", tasks);
 kcfGraph.time_invested_vs_estimate("{{.Get 0}}-invested", tasks);

 /*
    days = { date : (min_time, max_time) }
    for task in tasks {
        for day in days {
            if task.created >= day {
                 if task.completed <= day {
                     days[day] = (days[day][0].min_estimate + task.min_estimate, days[day][1].max_estimate + task.max_estimate);
                 }
            }
        }
    }

    let min_time_dataset = [];
    let max_time_dataset = [];

    for date in dates {
       min_time_dataset.push(min_time);
       max_time_dataset.push(max_time);
    }
 */
</script>
